%%305514
різа
отвъа
%%309589
ів
%%309775
ізбаві
мѧ
отъ
водъ
многъ
із
д
рѫкъі
снвъ
тоуждііхъ
іхъже
оуста
глшѧ
соуетѫ
%%309782
ізбаві
мѧ
і
ізъмі
мѧ
із
д
рѫкъі
сновъ
тоуждііхъ
іхъже
оуста
глашѧ
соуетѫ
%%309836
блізъ
гь
вьсѣмъ
прізъіваѭштіімъ
і
і
вьсѣмъ
прізъіваѭштіімъ
і
і
въ
істінѫ
%%309882
начьнѣте
гю
въ
і
ісповѣданіі
%%309909
ркз
%%312624
ісповѣдані
е
го
по
землі
і
на
нбсе
